* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

.container-normal {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

.container-full {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.w-100 {
    width: 100%;
}



nav {
    background-color: aqua;
    width: 100%;
    height: 54px;
}

header {
    background-color: antiquewhite;
}

main {
    background-color: lightgreen;
}

main section {
    margin-bottom: 100px;
}

section.three-choice {
    background-color: azure;
    height: 200px;
}

section.four-card {
    background-color: pink;
    height: 500px;
}

section.big-img {
    background-color: lightblue;
}

section.other {
    background-color: aqua;
    height: 200px;
}

.go-top {
    background-color: yellow;
    padding: 10px;
    position: fixed;
    bottom: 300px;
    right: 100px;
}

footer {
    background-color: lightgray;
    width: 100%;
    height: 300px;
}