* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: aqua;
    width: 100%;
    height: 100%;
    display: flex;
}

ul li a {
    width: auto;
    height: 100%;
    padding: 20px 8px 17px;
    display: inline-block;
    cursor: pointer;
}

ul li:hover span {
    border-bottom: 2px solid black;
}

ul a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

ul a:focus span {
    border-bottom: 2px solid black;
}

.container-normal {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

.container-full {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.w-100 {
    width: 100%;
}

img {
    vertical-align: bottom;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 108px;
    height: 23px;
}

nav {
    background-color: aqua;
    height: 54px;
    font-size: 13px;
    display: flex;
}

nav ul.pc-menu {
    width: 800px;
}

nav ul.func-menu {
    flex: 1;
    justify-content: end;
}

@media (max-width:1399px) {
    nav ul.func-menu span.hide-text {
        display: none;
    }
}

header {
    background-color: antiquewhite;
}

main {
    /* background-color: lightgreen; */
}

main section {
    margin-bottom: 100px;
}

section.three-choice {
    background-color: azure;
    height: 200px;
}

section.four-card {
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.four-card .one-card {
    background-color: purple;
    width: calc((100% - 20px * 3)/4);
    height: 400px;
}

section.big-img {
    background-color: lightblue;
}

section.other {
    background-color: aqua;
    height: 200px;
}

.go-top {
    background-color: yellow;
    padding: 10px;
    position: fixed;
    bottom: 300px;
    right: 100px;
}

footer {
    background-color: pink;
    width: 100%;
    font-size: 11px;
}

footer ul li a {
    padding: 10px 8px 7px;
}

footer ul li:hover span,
footer ul a:focus span {
    border-bottom: 2px solid black;
}

footer ul a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

footer .footer-menu {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

footer .footer-menu ul {
    background-color: aqua;
    width: calc((100%/6));
    flex-direction: column;
}

@media (max-width:1083px) {
    footer .footer-menu ul {
        width: calc((100%/3));
    }
}

footer .footer-menu ul li {
    background-color: pink;
    padding: 2px 0px;
}

footer .footer-nav {
    background-color: lightblue;
    width: 100%;
    height: 50px;
}