* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;
    display: flex;
}

ul li a {
    width: auto;
    height: 100%;
    padding: 20px 8px 17px;
    display: inline-block;
    cursor: pointer;
}

ul li:hover span {
    border-bottom: 2px solid black;
}

ul a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

ul a:focus span {
    border-bottom: 2px solid black;
}

.container-normal {
    width: 90%;
    max-width: 1600px;
    margin: auto;
}

@media (max-width:859px) {
    .container-normal {
        width: 100%;
        padding: 0px 10px;
    }
}

.container-full {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.w-100 {
    width: 100%;
}

img {
    vertical-align: bottom;
}

nav {
    background-color: aqua;
    height: 54px;
    font-size: 13px;
    display: flex;

    position: relative;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

@media (max-width:859px) {
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.logo img {
    width: 108px;
    height: 23px;
}

nav ul.pc-menu {
    width: 800px;
}

@media (max-width:859px) {
    nav ul.pc-menu {
        display: none;
    }
}

nav ul.func-menu {
    min-width: 225px;
    flex: 1;
    justify-content: end;
}

nav ul.func-menu li.all-microsoft label.all-microsoft-label {
    background-color: red;
    display: inline-block;
    width: 100%;
    height: 100%;
}

nav ul.func-menu li.all-microsoft #all-microsoft-switch:checked+label {
    background-color: pink;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu {
    background-color: lightgray;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 10%);
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top ul {
    background-color: aqua;
    width: calc((100%/6));
    flex-direction: column;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top ul li a {
    /* padding: 10px 8px 7px; */
    width: 100%;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top ul li:hover span,
nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top ul a:focus span {
    border-bottom: 2px solid black;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-top ul a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

nav ul.func-menu li.all-microsoft div.dropdown-menu div.menu-bottom {
    background-color: lightyellow;
    padding: 10px 0px;
    text-align: center;
}

@media (max-width:1399px) {
    nav ul.func-menu span.hide-text {
        display: none;
    }
}

@media (max-width:859px) {
    nav ul.func-menu li.all-microsoft {
        display: none;
    }

    nav ul.func-menu li.search {
        margin-right: auto;
    }
}

header {
    background-color: antiquewhite;
}

main {
    /* background-color: lightgreen; */
}

main section {
    margin-bottom: 100px;
}

section.three-choice {
    background-color: azure;
    height: 200px;
}

section.four-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section.four-card .one-card {
    width: calc((100% - 20px * 3)/4);
    height: 400px;
    box-shadow: 0 .1875rem .4375rem 0 rgba(0, 0, 0, .13), 0 .0625rem .125rem 0 rgba(0, 0, 0, .11);
    ;
}

@media (max-width:1083px) {
    section.four-card .one-card {
        width: calc((100% - 20px * 1)/2);
    }
}

@media (max-width:539px) {
    section.four-card .one-card {
        width: 100%;
    }
}

section.big-img {
    background-color: lightblue;
}

section.other {
    background-color: aqua;
    height: 200px;
}

.go-top {
    background-color: yellow;
    padding: 10px;
    position: fixed;
    bottom: 300px;
    right: 100px;
}

footer {
    background-color: pink;
    width: 100%;
    font-size: 11px;
}

footer ul li a {
    padding: 10px 8px 7px;
}

footer ul li:hover span,
footer ul a:focus span {
    border-bottom: 2px solid black;
}

footer ul a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

footer .footer-menu {
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
}

footer .footer-menu ul {
    background-color: aqua;
    width: calc((100%/6));
    flex-direction: column;
}

@media (max-width:1083px) {
    footer .footer-menu ul {
        width: calc((100%/3));
    }
}

@media (max-width:539px) {
    footer .footer-menu ul {
        width: 100%;
    }
}

footer .footer-menu ul li {
    background-color: pink;
    padding: 2px 0px;
}

footer .footer-nav {
    background-color: lightblue;
    width: 100%;
    height: 50px;
}

/* --------- 手機版 menu --------- */

    nav .ham-all {
        display: none;
    }


@media (max-width:860px) {
    nav .ham-all {
        display: block;
    }
}

nav div.ham-all ul.mobile-menu {
    background-color: #f2f2f2;
    width: 100%;
    height: auto;
    font-size: 15px;
    flex-direction: column;
    border-bottom: 2px solid black;

    position: absolute;
    top: 100%;
    left: 0;
}

nav div.ham-all ul.mobile-menu li {
    border-top: 1px solid #e6e6e6;
}

nav div.ham-all ul.mobile-menu li a,
nav div.ham-all ul.mobile-menu li.many-li label.many-switch-label {
    display: inline-block;
    padding: 20px 30px;
    width: 100%;
}

nav div.ham-all ul.mobile-menu li.many-li label.many-switch-label {
    display: flex;
    justify-content: space-between;
}

nav div.ham-all ul.mobile-menu li.many-li label.many-switch-label .fa-chevron-up,
nav div.ham-all ul.mobile-menu li.many-li input.many-switch:checked+label.many-switch-label .fa-chevron-down {
    display: none;
}

nav div.ham-all ul.mobile-menu li.many-li input.many-switch:checked+label.many-switch-label .fa-chevron-up {
    display: block;
}

nav div.ham-all ul.mobile-menu li:hover span,
nav div.ham-all ul.mobile-menu a:focus span {
    border-bottom: none;
}

nav div.ham-all ul.mobile-menu a:focus,
nav div.ham-all ul.mobile-menu li.many-li label.many-switch-label:focus {
    outline: 1px dashed black;
    outline-offset: -2px;
}

nav div.ham-all ul.mobile-menu li.many-li ul.sub-dropdown-menu {
    flex-direction: column;
    display: none;
    padding-left: 40px;
}

nav div.ham-all ul.mobile-menu li.many-li input.many-switch:checked+label+ul.sub-dropdown-menu {
    display: flex;
}